* {
  margin: 0;
  padding: 0;
}

:root {
  --dk-font-color: #1698AC;
  --lt-font-color: #ffffff;
}

body {
  font-family: Laila;
  background-image: url(../img/bg.png);
  padding: 50px;
}

.fl {
  display: flex;
  align-items: center;
}

.header {
  justify-content: space-between;
}

.logo-box,
.nav-box {
  flex: 1;
}

.nav-list {
  list-style: none;
  gap: 15px;
}

.logo-text,
.nav-link {
  color: var(--dk-font-color);
}

.logo-text {
  font-weight: 600;
  font-size: 40px;
  position: relative;
  left: -40px;
}

.nav-item {
  border: 2px solid var(--dk-font-color);
  border-radius: 20px;
  padding: 2px 28px;
  flex: 1;
  text-align: center;
}

.nav-item:hover {
  border: 2px solid var(--lt-font-color);
  background-color: var(--dk-font-color);
}

.nav-link {
  text-decoration: none;
  color: var(--lt-font-color);
  font-size: 30px;
  white-space: nowrap;
}

.main {
  margin: 50px 0;
  align-items: start;
  gap: 100px;
}

.col {
  flex: 1;
}

.autor-name,
.autor-about,
.autor-description {
  font-weight: 600;
}

.autor-about,
.autor-description {
  color: var(--lt-font-color);
}

.autor-name {
  font-size: 70px;
  font-weight: 300;
  color: var(--dk-font-color);
  -webkit-text-stroke: 1px var(--lt-font-color);
}

.autor-about {
  font-size: 65px;
  margin-bottom: 70px;
}

.autor-description {
  font-size: 35px;
  font-weight: 600;
}

.autor-banner {
  width: 100%;
}

.autor-link-box {
  display: flex;
  gap: 20px;
  margin: 50px 0;
}

.autor-link {
  font-weight: 300;
  font-size: 30px;
  padding: 15px 50px;
  color: var(--lt-font-color);
  text-decoration: none;
  border-radius: 20px;
  transition: background-color 0.1s linear;
  box-sizing: content-box;
  border: 1px solid transparent;
}

.autor-link:hover {
  font-weight: 600;
  background-color: var(--dk-font-color);
  border: 1px solid var(--lt-font-color);

}

@font-face {
  font-family: Laila;
  src: url(../font/Laila-Bold.ttf);
}

@font-face {
  font-family: Laila;
  src: url(../font/Laila-SemiBold.ttf);
}

@font-face {
  font-family: Laila;
  src: url(../font/Laila-Medium.ttf);
}

@media (max-width: 768px) {
  .nav-link {
    font-size: 5px;
  }

  .nav-box {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .nav-link {
    font-size: 15px;
  }

  .header {
    flex-direction: column;
    gap: 10px;
  }
}

@media (min-width: 1024px) and (max-width: 1400px) {
  .nav-link {
    font-size: 25px;
  }
}

@media (min-width: 1400px) {
  .nav-link {
    font-size: 35px;
  }
}